.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px 10px 5px 10px;
    font-weight: bold;
}

.Success {
    color: #5C9210;
}

.Success:hover {
    background-color: #cbee9b;
}

.Danger {
    color: #944317;
}

.Danger:hover {
    background-color: #df946b;
}

.Button:disabled {
    background-color: #bbb;
    color: black;
    cursor: not-allowed;
}